# =========================
# DATABASE
# =========================
DB_HOSTNAME=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOSTNAME}:${DB_PORT}/${DB_NAME}

# =========================
# APP User
# =========================
SEED_USER_NAME=
SEED_USER_EMAIL=
SEED_USER_PASSWORD=

# =========================
# N8N
# =========================
N8N_HOST=
N8N_PROTOCOL=
N8N_PORT=5678
N8N_ENCRYPTION_KEY=
N8N_TIMEZONE=
N8N_DB_TYPE=
N8N_DB_NAME=
N8N_WEBHOOK_URL=https://${N8N_HOST}

# =========================
# BETTER AUTH
# =========================
BETTER_AUTH_SECRET=
BETTER_AUTH_URL= # Base URL of your app

